:root {
  background-color: black;
  color: white;
  font-family: 'Arial';

  --blue: #111199;
  --blue-darker: #1f1fc9;
  --yellow: #d5b70b;
  --red: #b70808;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid_cell_text {
  text-align: center;
  font-size: 24px;
}

.winning_cell {
  width: 70px;
  height: 70px;
  background-color: black;
  border: 4px white solid;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_cell {
  width: 70px;
  height: 70px;
  background-color: black;
  border: 4px var(--blue-darker) solid;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.column_label {
  width: 78px;
  font-size: 24px;
  text-align: center;
}

.column_labels {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--blue);
  border-radius: 10px;
  padding: 10px;
}

.player_move_text {
  font-size: 24px;
  margin-top: 20px;
}